@use 'typography' as t;
@use 'colors' as c;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: t.$poppins;
  background-color: c.$off-white;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

input {
  font: inherit;
}

/**
 * Hides stepper arrows on input[type=number] 
 * @source https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp 
 */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.main-container {
  flex: 1;
  background-color: c.$white;
  padding: 3rem 1.5rem;
  border: {
    radius: 1.5rem;
    bottom-right-radius: 6.25rem;
  }
  max-width: 26.25rem;
}

.fields {
  display: flex;
  column-gap: 1rem;
}

.field {
  flex: 1;
  display: grid;
  row-gap: 0.5rem;

  &__label {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.25rem;
    color: c.$smokey-grey;

    &--error {
      color: c.$light-red;
    }
  }

  &__input {
    font-size: 1.25rem;
    width: 100%;
    border: 1px solid c.$light-grey;
    border-radius: 0.5rem;
    padding: 1rem 1.25rem;

    &::placeholder {
      color: lighten(c.$smokey-grey, 20%);
    }

    &:focus {
      border-color: c.$light-red;
      outline-color: c.$purple;
    }

    &--error {
      border-color: c.$light-red;
      outline-color: c.$light-red;
    }

    &-error {
      color: c.$light-red;
      font: {
        size: 0.75rem;
        style: italic;
      }
      visibility: hidden;
      height: 1.5rem;

      &.active {
        visibility: visible;
      }
    }
  }
}

.submit-button {
  background-color: c.$purple;
  width: 4rem;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
  will-change: scale;
  transition: transform 0.1s;

  &-icon {
    width: 50%;
  }

  &-container {
    position: relative;
    text-align: center;
    margin-block: 2rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      border-top: 2px solid c.$light-grey;
    }
  }

  &:hover {
    background-color: c.$off-black;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }
}

.result {
  font: {
    size: 3.375rem;
    style: italic;
    weight: t.$extrabold;
  }

  &__row {
    line-height: 1;
    display: flex;
  }

  &__count {
    color: c.$purple;
    min-width: 2ch;
    text-align: right;
  }

  &__label {
    margin-left: 0.5rem;
    color: c.$off-black;
  }
}

@media (min-width: 712px) {
  .main-container {
    padding: 3.5rem;
    border-bottom-right-radius: 12.5rem;
    max-width: 52.5rem;
  }

  .fields {
    column-gap: 2rem;
  }

  .field {
    flex-grow: 0;

    &__input {
      font-size: 2rem;
      width: max(10rem, 100%);
      padding-inline: 1.75rem;

      &-error {
        font-size: 0.875rem;
      }
    }
  }

  .submit-button {
    width: 6rem;

    &-container {
      text-align: right;
      margin-block: 0;
    }
  }

  .result {
    font-size: 6.375rem;

    &__label {
      margin-left: 1rem;
    }
  }
}
